@keyframes bg-animated {
  0% {
    border-radius: 58% 42% 47% 53% / 44% 25% 75% 56%;
  }

  25% {
    border-radius: 66% 44% 79% 21% / 43% 67% 33% 57%;
  }

  50% {
    border-radius: 26% 74% 20% 80% / 43% 67% 33% 57%;
  }

  75% {
    border-radius: 90% 30% 48% 92% / 28% 87% 13% 92%;
  }

  100% {
    border-radius: 26% 74% 20% 80% / 91% 16% 84% 39%;
  }
}
