.blur {
  &--visible {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(100, 10%, 80%, 75%);
    z-index: 1;
  }
}

.heading {
  &--highlighting {
    font-weight: bolder;
    color: hsl(250, 30%, 40%);
    font-size: clamp(1em, 1em + 1vw, 1.5em);
    &-secondary {
      background-color: black;
      color: white;
      padding-inline: 8px;
      line-height: normal;
      padding-block: 0px;
    }
  }
  &--1 {
    font-weight: 100;
    font-size: 12px;
    text-transform: uppercase;
  }
  &--2 {
    font-weight: bolder;
    margin-top: 0.5em;
    line-height: 1em;
    overflow-wrap: normal;
    font-size: clamp(1.5em, 1.5em + 1vw, 3em);
  }
  &--dark {
    color: white;
    // font-weight: bolder;
    &.heading--highlighting {
      color: black;
      background-color: white;
      padding-inline: 8px;
      line-height: normal;
      padding-block: 0px;
    }
  }
}

.cards {
  display: grid;
  gap: 1em;
  height: fit-content;
}

.card {
  background-color: white;
  padding: 2em;
  height: fit-content;
  box-shadow: 0px 2px 4px 1px hsla(200, 10%, 30%, 40%);
  border-radius: 0.5em;
  width: 100%;
  transition: background-color 200ms ease-out, box-shadow 200ms ease-in-out;
  &__heading {
    font-size: 1em;
    margin-block: 0.5em;
  }
  &:active,
  &:hover {
    background-color: hsl(250, 30%, 95%);
    box-shadow: 8px 8px hsl(200, 10%, 20%);
  }
}

.button {
  border-radius: 0.75em;
  padding: 0.5em 2em;
  font-size: 25px;
  background-color: hsl(250, 30%, 40%);
  color: white;
  font-weight: bold;
  transition: background-color 200ms ease-in, transform 200ms ease-out,
    box-shadow 200ms ease, color 200ms ease-in;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: hsl(250, 30%, 50%);
    color: white;

    transform: translateY(-10px);
    box-shadow: 0px 2px 4px 1px hsl(200, 10%, 40%);
  }
  &--dark {
    background-color: hsl(0, 0%, 20%);
    color: white;

    &:hover {
      background-color: hsl(200, 50%, 50%);
      color: hsl(0, 0%, 20%);
      background-color: white;

      transform: translateY(-10px);
      box-shadow: 0px 2px 4px 1px hsl(200, 10%, 40%);
    }
  }
}

.list {
  list-style: none;
  padding: 0;

  // list-style-image: url('../assets/icons/badge.svg');
  &__item {
    font-size: 0.75em;
    background-image: url("../assets/icons/feather.svg");
    margin-block: 0.25em;
    line-height: 1em;
    background-repeat: no-repeat;
    padding-left: 30px;
  }
}
