.header {
  width: 100%;
  padding-inline: 1em;
  position: sticky;
  top: 0;
  z-index: 1;

  &__content {
    display: flex;
    background-color: hsla(200, 50%, 60%, 85%);
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 0.45em;
    margin-inline: auto;
    padding: 0.45em 1.25em;

    padding-left: 0.25em;
    border-radius: 0.5em;
    box-shadow: 0px 2px 4px 1px hsl(200, 10%, 70%);
    max-width: 1600px;
    width: 100%;
  }

  &__logo {
    display: flex;
    padding: 0.25em;
    padding-right: 2em;
    padding-left: 0em;
    border-radius: 0.5em;
    transition: background-color 200ms ease-in-out;
    align-items: center;
    &:hover {
      background-color: hsl(200, 50%, 50%);
    }
  }
  &__hamburger {
    border-radius: 0.25em;
    padding: 0.25em;
    transition: background-color 200ms linear;

    @media screen and (min-width: 820px) {
      display: none;
    }

    &:hover,
    &:active {
      background-color: hsl(200, 50%, 40%);
    }
  }
}

// TODO: Inverter lógica mobile-first do nav para desktop-first
.nav {
  display: flex;
  position: fixed;
  transform: translateX(-100%);
  transition: transform 400ms ease-in;
  background-color: hsl(200, 50%, 45%);
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  padding-top: 2em;
  transform: translateX(-100%);

  &__close {
    display: none;
    margin-right: 1em;
    margin-left: auto;
    align-self: right;
  }

  &__icon {
    width: 18px;
  }

  &__item {
    display: flex;
    gap: 0.5em;
    border-radius: 0.25em;
    padding: 0.25em;
    transition: color 200ms linear, background-color 200ms linear;
    cursor: pointer;
    width: fit-content;

    &:active,
    &:hover {
      color: hsl(200, 0%, 100%);
      background-color: hsl(200, 50%, 35%);
    }
  }

  &__links {
    display: flex;
    width: 100%;
    flex-direction: column;
    list-style: none;
    gap: 1em;
  }
  &__link {
    color: hsl(100, 20%, 100%);
    text-decoration: none;

    font-size: 18px;
  }

  &--visible {
    transform: translateX(0%);
    z-index: 2;
    .nav__links {
      flex-direction: column;
    }
    .nav__close {
      display: block;
    }
  }
  @media screen and (min-width: 620px) {
    width: 40vw;
  }

  @media screen and (min-width: 820px) {
    background-color: unset;
    display: block;
    transform: unset;
    position: static;
    height: unset;
    width: unset;
    padding-top: unset;

    &__links {
      flex-direction: row;
      gap: 0.5em;
    }

    &__close {
      display: none;
    }
  }
}

.logo {
  &__image {
    border-radius: 0.5em;
    width: 70px;
    padding: 0.5em;
  }
  &__text {
    font-size: 2.25em;
    color: hsl(240, 35%, 35%);
    font-weight: 100;
  }
}
