@use "./resets";
@use "./colors";
@use "./fonts.scss";
@use "./animations";

@use "./header.scss" as *;
@use "./general.scss" as *;
@use "./sections.scss" as *;


:root {
  font-family: Helvetica, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
