@use "./resets" as *;
@use "./colors" as *;
@use "./fonts.scss" as *;

:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  width: 100%;

  &--center {
    justify-content: center;
  }
}

.blur {
  &--visible {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(100, 10%, 80%, 75%);
    z-index: 1;
  }
}

.header {
  width: 100%;
  padding-inline: 1em;
  position: sticky;
  top: 0;
  z-index: 1;

  &__content {
    display: flex;
    background-color: hsla(200, 50%, 60%, 85%);
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 0.45em;
    margin-inline: auto;
    padding: 0.45em 1.25em;
    border-radius: 0.5em;
    box-shadow: 0px 2px 4px 1px hsl(200, 10%, 70%);
    max-width: 1200px;
    width: 100%;
  }

  &__logo {
    width: 70px;
    svg {
      background-color: white;
      border-radius: 0.5em;
      padding: 0.5em;
    }
  }
  &__hamburger {
    border-radius: 0.25em;
    padding: 0.25em;
    transition: background-color 200ms linear;

    @media screen and (min-width: 720px) {
      display: none;
    }

    &:hover,
    &:active {
      background-color: hsl(200, 50%, 40%);
    }
  }
}

// TODO: Inverter lógica mobile-first do nav para desktop-first
.nav {
  display: flex;
  position: fixed;
  transform: translateX(-100%);
  transition: transform 400ms ease-in;
  background-color: hsla(200, 50%, 45%);
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  padding-top: 2em;
  transform: translateX(-100%);

  &__close {
    display: none;
    margin-right: 1em;
    margin-left: auto;
    align-self: right;
  }

  &__icon {
    width: 18px;
  }

  &__item {
    display: flex;
    gap: 0.5em;
    border-radius: 0.25em;
    padding: 0.25em;
    transition: color 200ms linear, background-color 200ms linear;
    cursor: pointer;
    width: fit-content;

    &:active,
    &:hover {
      color: hsl(200, 0%, 100%);
      background-color: hsl(200, 50%, 35%);
    }
  }

  &__links {
    display: flex;
    width: 100%;
    flex-direction: column;
    list-style: none;
    gap: 1em;
  }
  &__link {
    color: hsl(100, 20%, 100%);
    text-decoration: none;

    font-size: 18px;
  }

  &--visible {
    transform: translateX(0%);
    z-index: 2;
    .nav__links {
      flex-direction: column;
    }
    .nav__close {
      display: block;
    }
  }

  @media screen and (min-width: 720px) {
    background-color: unset;
    display: block;
    transform: unset;
    position: static;
    height: unset;
    width: unset;
    padding-top: unset;

    &__links {
      flex-direction: row;
      gap: 0.5em;
    }

    &__close {
      display: none;
    }
  }
}

.section {
  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    max-width: 1200px;
    margin-inline: auto;
    padding: 0.45em 1.5em;
    gap: 4em;

    @media screen and (min-width: 720px) {
      display: flex;
      flex-direction: row;
      .section__image {
        width: 70em;
        margin-inline: 1em;
      }
    }
  }
  &__paragraph {
    font-size: 20px;
    margin-block: 1em;
  }
  &--hero {
    .section__button {
      border-radius: 0.75em;
      padding: 0.5em 2em;
      font-size: 25px;
      background-color: hsl(250, 30%, 40%);
      color: white;
      font-weight: bold;
      transition: background-color 200ms ease-in, transform 200ms ease-out,
        box-shadow 200ms ease;
      cursor: pointer;
      border: none;

      &:hover {
        background-color: hsl(250, 30%, 20%);
        transform: translateY(-10px);
        box-shadow: 0px 2px 4px 1px hsl(200, 10%, 40%);
      }
    }

    .section__image {
      border-radius: 35% 65% 26% 74% / 78% 19% 81% 22%;
      background: linear-gradient(
        90deg,
        rgba(224, 197, 223, 1) 0%,
        rgba(217, 171, 217, 0.9) 64%,
        rgba(181, 139, 171, 1) 100%
      );
      animation: bg-animated 10s ease-in-out alternate infinite;
    }
  }
}

.heading {
  &--highlighting {
    font-weight: bolder;
    font-size: 56px;
    color: hsl(250, 30%, 40%);
  }
  &--1 {
    font-weight: 100;
    font-size: 12px;
    text-transform: uppercase;
  }
  &--2 {
    font-weight: bolder;
    margin-top: 0.5em;
    line-height: 1em;
    font-size: 46px;
  }
}

@keyframes bg-animated {
  0% {
    border-radius: 58% 42% 47% 53% / 44% 25% 75% 56%;
  }

  25% {
    border-radius: 86% 14% 79% 21% / 43% 67% 33% 57%;
  }

  50% {
    border-radius: 26% 74% 20% 80% / 43% 67% 33% 57%;
  }

  75% {
    border-radius: 100% 0% 8% 92% / 8% 87% 13% 92%;
  }

  100% {
    border-radius: 26% 74% 20% 80% / 91% 16% 84% 9%;
  }
}
