@use "./resets" as *;
@use "./colors" as *;
@use "./fonts.scss" as *;

:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  width: 100%;

  &--center {
    justify-content: center;
  }
}

.blur {
  &--visible {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(100, 10%, 80%, 50%);
    z-index: 1;
  }
}

.header {
  width: 100%;
  padding-inline: 1em;

  &__content {
    display: flex;
    background-color: hsl(200, 50%, 60%);
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 0.45em;
    margin-inline: auto;
    padding: 0.45em 1.25em;
    border-radius: 0.5em;
    box-shadow: 0px 2px 4px 1px hsl(200, 10%, 70%);
    max-width: 1200px;
    width: 100%;
  }

  &__logo {
    width: 70px;
    svg {
      background-color: white;
      border-radius: 0.5em;
      padding: 0.5em;
    }
  }
  &__hamburger {
    border-radius: 0.25em;
    padding: 0.25em;
    transition: background-color 200ms linear;

    @media screen and (min-width: 720px) {
      display: none;
    }

    &:hover,
    &:active {
      background-color: hsl(200, 50%, 40%);
    }
  }
}

// TODO: Inverter lógica mobile-first do nav para desktop-first
.nav {
  display: flex;
  position: fixed;
  transform: translateX(-100%);
  transition: transform 400ms ease-in;
  background-color: hsl(200, 50%, 45%);
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  padding-top: 2em;
  transform: translateX(-100%);

  &__close {
    display: none;
    margin-right: 1em;
    margin-left: auto;
    align-self: right;
  }

  &__icon {
    width: 18px;
  }

  &__item {
    display: flex;
    gap: 0.5em;
    border-radius: 0.25em;
    padding: 0.25em;
    transition: color 200ms linear, background-color 200ms linear;
    cursor: pointer;
    width: fit-content;

    &:active,
    &:hover {
      color: hsl(200, 0%, 100%);
      background-color: hsl(200, 50%, 35%);
    }
  }

  &__links {
    display: flex;
    width: 100%;
    flex-direction: column;
    list-style: none;
    gap: 1em;
  }
  &__link {
    color: hsl(100, 20%, 100%);
    text-decoration: none;

    font-size: 18px;
    font-weight: 900;
  }

  &--visible {
    transform: translateX(0%);
    z-index: 2;
    .nav__links {
      flex-direction: column;
    }
    .nav__close {
      display: block;
    }
  }

  @media screen and (min-width: 720px) {
    background-color: unset;
    display: block;
    transform: unset;
    position: static;
    height: unset;
    width: unset;
    padding-top: unset;

    &__links {
      flex-direction: row;
      gap: 0.5em;
    }

    &__close {
      display: none;
    }
  }
}
